.game-container {
    border: 3px solid #59CE8F;
    margin: auto;
    width: fit-content;
}
#pause,#home {
    cursor: pointer;
    border: 3px solid #59CE8F;
    color: #59CE8F;
    border-radius: 10px;
    width: fit-content;
    margin: auto;
    padding: 15px;
    margin-top: 15px;
    font-size: 30px;
    transition: all .2s ease;
}
#pause:hover ,#home:hover ,#home a:hover{
    color: white;
    background-color: #59CE8F;
}

#home a{
    text-decoration: none;
    color: #59CE8F;
}
